@font-face {
    font-family: 'Inter';
    src: url("./assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf");
}

@font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/lora/Lora-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Inconsolata';
    src: url('./assets/fonts/inconsolata/Inconsolata-VariableFont_wdth,wght.ttf');
}

:root {

    /* Fonts */
    font-size: 16px;

    --font-family-sans: 'Inter', sans-serif;
    --font-family-serif: 'Lora', serif;
    --font-family-mono: 'Inconsolata', monospace;

    --font-active: var(--font-family-sans);



    --font-size-heading-l: 4rem/4.8rem var(--font-active);
    --font-size-heading-m: 1.5rem/1.8rem var(--font-active);
    --font-size-heading-s: 1.25rem/2rem var(--font-active);

    --font-size-body-m: 1.125rem/2rem var(--font-active);
    --font-size-body-s: 0.875rem/1.06rem var(--font-active);

    @media (max-width: 400px) {
        --font-size-heading-l: 2rem/2.5rem var(--font-active);
        --font-size-heading-m: 1.125rem/1.8rem var(--font-active);
        --font-size-heading-s: 1.125rem/1.8rem var(--font-active);

        --font-size-body-m: 0.875rem/2rem var(--font-active);
        --font-size-body-s: 0.875rem/1.06rem var(--font-active);
    }


    /* Colors */
    --color-neutral-900: rgba(5, 5, 5, 1);
    --color-neutral-800: rgba(31, 31, 31, 1);
    --color-neutral-700: rgba(45, 45, 45, 1);
    --color-neutral-600: rgba(58, 58, 58, 1);
    --color-neutral-500: rgba(117, 117, 117, 1);
    --color-neutral-400: rgba(233, 233, 233, 1);
    --color-neutral-300: rgba(244, 244, 244, 1);
    --color-white: rgba(255, 255, 255, 1);

    --color-purple: rgba(164, 69, 237, 1);
    --color-red: rgba(255, 82, 82, 1);

    /* color-scheme: dark light; */

    --color-surface-default: light-dark(var(--color-white), var(--color-neutral-900));
    --color-surface-default-elevated: light-dark(var(--color-white), var(--color-neutral-800));
    --color-surface-bold: light-dark(var(--color-neutral-500), var(--color-neutral-500));
    --color-surface-subtle: light-dark(var(--color-neutral-300), var(--color-neutral-800));
    --color-surface-brand: var(--color-purple);
    --color-surface-brand-opacity: rgba(164, 69, 237, 0.25);

    --color-foreground-default: light-dark(var(--color-neutral-700), var(--color-white));
    --color-foreground-subtle: light-dark(var(--color-neutral-500), var(--color-neutral-500));
    --color-foreground-brand: light-dark(var(--color-purple), var(--color-purple));

    --color-border-default: light-dark(var(--color-neutral-400), var(--color-neutral-700));
    --color-border-destructive: light-dark(var(--color-red), var(--color-red));

    /* Shadows */
    --color-shadow: light-dark(rgba(0, 0, 0, 0.10), rgba(164, 69, 237, 1));

    transition: color-scheme 0.3s ease;

}

:root:has(#theme-switch:checked) {
    color-scheme: light dark;
}

body {
    background-color: var(--color-surface-default);
    color: var(--color-foreground-default);
    padding-block: 58px;
    font: var(--font-size-body-m);
}

h1 {
    font: var(--font-size-heading-l);
    font-weight: 700
}

h2 {
    font: var(--font-size-heading-m);
    font-weight: 700;
    font-style: italic;
}

h3 {
    font: var(--font-size-heading-s);
}

h4 {
    font: var(--font-size-body-s);
}

h3,
h4 {
    color: var(--color-foreground-subtle);
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

section {
    margin-block-end: 2.5rem;
}

#word-phonetic {
    font: var(--font-size-heading-m);
    color: var(--color-foreground-brand);
}

.container {
    max-width: 700px;
    margin-inline: auto;
    padding-inline: 24px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block-end: 50px;
}

/* Search field style */
#search-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-block-end: 45px;
    border-radius: 16px;

    & #validation-error-message {
        color: var(--color-border-destructive);
        font: var(--font-size-body-s);
        display: none;
        opacity: 0;
        transition: all 0.3s ease-out;
    }

}

.input-field {
    display: flex;
    border: 1px solid transparent;
    transition: all 0.3s ease-out;
    border-radius: 16px;

    & input {
        flex: 1;
        padding-block: 20px;
        padding-inline: 24px;
        background-color: var(--color-surface-subtle);
        border: none;
        border-radius: 16px 0 0 16px;

    }

    & button {
        background-color: var(--color-surface-subtle);
        padding-inline: 20px;
        border-radius: 0 16px 16px 0;
    }

}

#search-form.validation-error{
    & .input-field {
        border: 1px solid var(--color-border-destructive);
    }

    & #validation-error-message {
        opacity: 1;
        display: block;
    }
}

#word-container {
    display: flex;
    margin-block-end: 40px;
    justify-content: space-between;
    align-items: center;
}

#font-theme-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

#theme-switch {
    display: flex;
    align-items: center;
    gap: 16px;
}

.divider-vertical {
    width: 1px;
    align-self: stretch;
    background-color: var(--color-border-default);
}

.definition-title-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-block-end: 2.5rem;
}

.divider-horizontal {
    height: 1px;
    flex: 1;
    background-color: var(--color-border-default);
}

/* Styles for switch element */

/* The switch - the box around the slider */
.theme-icon {
    color: var(--color-foreground-default)
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider - the actual switch knob */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-surface-bold);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

/* When checked, change background color and move the slider */
input:checked+.slider {
    background-color: var(--color-surface-brand);
}

input:focus+.slider {
    box-shadow: 0 0 1px var(--color-surface-brand);
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.switch-container:has(input:checked) .theme-icon {
    color: var(--color-foreground-brand)
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-container {
    display: flex;
    gap: 24px;
    align-items: center;
}

/* Style for select */

@supports (appearance: base-select) {
    #select-font {
        background: none;
        gap: 1rem;
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
        font-size: var(--font-size-body-m);


        & svg {
            color: var(--color-foreground-brand)
        }

        &,
        &::picker(select) {
            appearance: base-select;
            border: none;
            overflow: visible;
            transform: translateY(0);
            transition: 
            display allow-discrete 0.3s, 
            all 0.3s, 
            overlay 0.3s allow-discrete
          ;
        }

        &:not(:open)::picker(select) {
            opacity: 0;
            transform: translateY(-8px);
          }

        &>div {
            background-color: var(--color-surface-default-elevated);
            border-radius: 1rem;
            padding: 1rem;
            box-shadow: 0 5px 30px 0 var(--color-shadow);
            margin-block-start: 0.5rem;
            min-width: 180px;
        }

        &::picker-icon {
            display: none;
        }

        & option {
            transition: all 0.2s ease-in-out;

            &::checkmark {
                display: none;
            }
        }

        & option:hover {
            color: var(--color-foreground-brand);
            background-color: transparent;

        }

        & option:not(:last-child) {
            margin-block-end: 1rem;
        }

        & #sans-serif-option {
            font-family: var(--font-family-sans);
        }

        & #serif-option {
            font-family: var(--font-family-serif);
        }

        & #mono-option {
            font-family: var(--font-family-mono);
        }
    }
}

selectedcontent {
    font-family: var(--font-active);
    font-weight: 700;
}

#audio-button {
    background: url("./assets/images/icon-play.svg");
    width: 75px;
    height: 75px;
    transition: all 0.3s;

    &:hover {
        background: url("./assets/images/icon-play-hover.svg");
    }
}

/* Styled list */

.meaning {
    list-style-type: disc;
    margin-inline-start: 2rem;
    margin-block-start: 2rem;
    margin-block-end: 4rem;

    & li {
        padding-inline-start: 1.25rem;
    }

    & li:not(:last-child) {
        margin-block-end: 1rem;
    }

    & li::marker {
        color: var(--color-foreground-brand);
    }

    & #definition-example {
        color: var(--color-foreground-subtle)
    }
}

#synonyms-container {
    display: flex;
    gap: 20px;

    & ul {
        font: var(--font-size-heading-s);
        display: flex;
        flex-wrap: wrap;
        font-weight: 700;
        gap: 12px;
        color: var(--color-foreground-brand)
    }

    & .no-synonyms {
        font-weight: 400;
        color: var(--color-foreground-default);
    }
}

#source-container {
    display: flex;
    gap: 20px;
    padding-block-start: 20px;
    border-block-start: 1px solid var(--color-border-default);
    text-decoration: underline;
    text-decoration-color: var(--color-border-default);

    & a {
        font: var(--font-size-body-s);
        color: var(--color-foreground-default);
        text-decoration-color: var(--color-border-default);

        &::after {
            content: "";
            display: inline-block;
            background: url("./assets/images/icon-new-window.svg") no-repeat;
            background-size: contain;
            height: 12px;
            width: 12px;
            margin-inline-start: 0.5rem;
        }
    }
}

.error-state {
    margin-block-start: 100px;
    text-align: center;

    & .error-icon {
        font: var(--font-size-heading-l);
        margin-block-end: 44px;
    }

    & h2 {
        font: var(--font-size-heading-s);
        font-weight: 700;
        margin-block-end: 24px;
    }

    & p {
        color: var(--color-foreground-subtle);
    }
}

/* Media queries */

@media (max-width: 400px) {
    #font-theme-container {
        gap: 16px;
    }

    .switch-container {
        gap: 16px;
    }

    #logo img {
        width: 28px;
    }
}